{
  "extends": ["plugin:import/typescript", "next", "plugin:prettier/recommended"],
  "plugins": ["unused-imports"],
  "rules": {
    "import/order": ["error", {
      "warnOnUnassignedImports": true,
      "newlines-between": "never",
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
      "pathGroups": [
        {
          "pattern": "css/**",
          "group": "builtin",
          "position": "before"
        },
        {
          "pattern": "react",
          "group": "builtin",
          "position": "before"
        },
        {
          "pattern": "next/**",
          "group": "builtin",
          "position": "before"
        },
        {
          "pattern": "generated/**",
          "group": "internal",
          "position": "before"
        },
        {
          "pattern": "{lib,pages,components,assets,hooks,locale,server,tenants}/**",
          "group": "internal"
        }
      ],
      "pathGroupsExcludedImportTypes": [
        "react",
        "next/**",
        "css/**"
      ]
    }],

    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/interface-name-prefix": "off",

    "@next/next/no-img-element": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "unused-imports/no-unused-imports": "error",

    "default-case": "off",
    "curly": "error"
  }
}
