@import "../variables";
@import "../mixins";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0;
  height: 3rem;
  min-width: 3rem;
  background-color: $catskillWhite;
  color: $text;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  cursor: pointer;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  appearance: none;

  transition: all 250ms;

  &:hover,
  &:focus {
    background-color: darken($catskillWhite, 2%);
  }

  @include focus-ring(darken($catskillWhite, 5%));
}

.isBlue {
  background-color: $blueRibbon;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($blueRibbon, 5%);
  }

  @include focus-ring(rgba($blueRibbon, 0.4));
}

.isRed {
  background-color: $persimmon;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($persimmon, 5%);
  }

  @include focus-ring(rgba($persimmon, 0.4));
}

.isDark {
  background-color: $martinique;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($martinique, 5%);
  }

  @include focus-ring(rgba($martinique, 0.4));
}
