@import url("https://rsms.me/inter/inter.css");

@import "_reset";
@import "variables";

html {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  color: $text;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
